/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff4500;
  --ifm-color-primary-dark: #d93a00;
  --ifm-color-primary-darker: #962900;
  --ifm-color-primary-darkest: #721f00;
  --ifm-color-primary-light: #fe7c53;
  --ifm-color-primary-lighter: #ffbea6;
  --ifm-color-primary-lightest: #fff6f3;
  --ifm-code-font-size: 90%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-font-color-base-inverse: #0f1a1c;
  --ifm-button-background-color: var(--ifm-color-primary);
  --ifm-button-color: var(--ifm-color-primary-lightest);
  --ifm-link-color: #ff4500;
  --ifm-navbar-link-color: #ff4500;
  /* --ifm-background-color: #ffffff; */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fe7c53;
  --ifm-color-primary-dark: #d93a00;
  --ifm-color-primary-darker: #962900;
  --ifm-color-primary-darkest: #721f00;
  --ifm-color-primary-light: #ffd5c6;
  --ifm-color-primary-lighter: #ffede5;
  --ifm-color-primary-lightest: #fff6f3;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-font-color-base-inverse: #ffede5;
  --ifm-button-background-color: #ffede5;
  --ifm-footer-link-color: #ffede5;
  --ifm-background-color: #0f1a1c;
  --ifm-navbar-background-color: #0f1a1c;
}

.hero--primary {
  background-color: var(--ifm-color-secondary);
}

.button.button--secondary {
  background-color: var(--ifm-color-primary);
  color: white;
  border-radius: 999px;
  font-size: smaller;
}

.heading {
  text-align: center;
  margin: 0;
  padding: 2rem;
  background-color: var(--ifm-background-color);
}

[data-theme='dark'] .heading {
  background-color: #0f1a1c;
}

.row {
  justify-content: center;
}

[data-theme='dark'] .features_src-components-HomepageFeatures-styles-module {
  background-color: #0f1a1c;
}

.feature {
  border: 1px solid #0000001a;
  border-radius: 4px;
  margin: 10px;
  background-color: #ffffff;
}

[data-theme='dark'] .feature {
  background-color: #1a282d;
  border: 1px solid #ffffff33;
}

.feature h3 {
  color: var(--ifm-color-primary);
}

#__docusaurus > footer {
  --ifm-footer-background-color: #ffffff;
  --ifm-footer-link-color: var(--ifm-font-color-base-inverse);
  --ifm-footer-color: var(--ifm-font-color-base-inverse);
}

[data-theme='dark'] footer {
  background-color: #131f23;
  color: #ffede5;
}

.footer .container.container-fluid {
  text-align: center;
}

.footer__copyright {
  font-size: smaller;
  margin-top: 5em;
}

.footer__title {
  font-size: larger;
  color: var(--ifm-font-color-base-inverse);
}

[data-theme='dark'] #__docusaurus {
  background-color: #0b1416;
}

.dsla-search-wrapper {
  min-width: 10rem;
}

.language-bash span.token-line::before {
  content: '$';
  padding: 0 0.7em 0 0;
  color: var(--ifm-color-emphasis-400);
}

.theme-doc-markdown > p > img {
  border-radius: var(--ifm-code-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
}

/* Table styling */

table {
  border-collapse: collapse;
  border-radius: var(--ifm-code-border-radius);
  width: max-content;
  max-width: 100%;
  border: thin solid var(--ifm-toc-border-color);
}

table thead {
  background-color: inherit;
}

table thead tr {
  text-align: left;
  border: none;
  font-size: var(--ifm-code-font-size);
  font-weight: 500;
  color: var(--ifm-color-emphasis-800);
}

table th,
table td {
  padding: 8px;
  border: none;
}

table tbody tr {
  border: none;
  vertical-align: top;
  border-top: thin solid var(--ifm-toc-border-color);
}

table tbody tr:nth-of-type(even) {
  background-color: inherit;
}
