# environment
.DS_Store
.vagrant

# redis
dump.rdb

# .yarn - https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
# !.yarn/cache - Uncomment this if we want to commit the cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# Ignore the @devvit packages from being cached - they change too often, and we have them on disk anyways when we build
.yarn/cache/@devvit-*.zip

# pki keys
client.crt
client.key

# editors
.idea
.vscode/
/.zed/

# dependencies
node_modules/
.tool-versions
.pj

.turbo/

# testing
.coverage
.coverage-sources
coverage
coverage-sources

# build artifacts
build/
dist/
client-manifest.json

# drone artifacts
.npmrc
.terraform/

# Go workspace
go.work.sum
vendor/

vitest.config.js.timestamp-*.mjs

yarn.lock # Don't commit this - we'll generate it ourselves.

__e2e__/playwright/tmp/
__e2e__/playwright/test-results/

# Ignore all build artifacts
tsconfig.tsbuildinfo
