body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  
  #stateOutput {
    border: 1px solid black;
    overflow-y: auto;
    flex-grow: 1;
  }
  
  pre {
    padding: 4px;
  }